{% extends "base.html" %}
{% block page_class %}home-page{% endblock %}
{% block content %}
<header class="jumbotron subhead">
    <h2>Explore Hotel Genome</h2>
    <div class="row">
        <div class="span6 offset1">
            <ul class="unstyled">
                <li>
                <strong><a href="/hotels?loc=1">Negril, Jamaica</a></strong>
                </li>
                <li>
                <strong><a href="/hotels?loc=2">Honolulu, Hawaii</a></strong>
                </li>
                <li>
                <strong><a href="/hotels?loc=3">Phuket, Thailand</a></strong>
                </li>
                <li>
                <strong><a href="/hotels?loc=4">San Diego, California</a></strong>
                </li>
                <li>
                <strong><a href="/hotels?loc=5">Goa, India</a></strong>
                </li>
            </ul>
        </div>
    </div>
    <h2>Find Similar Hotels</h2>
    <div class="row">
        <div class="span6 offset1">
            <ul class="unstyled">
                <li>
                <strong><a href="/hotels?loc=5&sim=true">Goa, India</a></strong>
                </li>
            </ul>
        </div>
    </div>
    <h2>What is near what</h2>
    <div class="row">
        <div class="span6 offset1">
            <ul class="unstyled">
                <li>
                <strong><a href="/hotels?loc=1&loccat=true">Negril, Jamaica</a></strong>
                </li>
                <li>
                <strong><a href="/hotels?loc=2&loccat=true">Honolulu, Hawaii</a></strong>
                </li>
                <li>
                <strong><a href="/hotels?loc=3&loccat=true">Phuket, Thailand</a></strong>
                </li>
                <li>
                <strong><a href="/hotels?loc=4&loccat=true">San Diego, California</a></strong>
                </li>
                <li>
                <strong><a href="/hotels?loc=5&loccat=true">Goa, India</a></strong>
                </li>
            </ul>
        </div>
    </div>
    <h2>All EAN Attributes</h2>
    <div class="row">
        <div class="span6 offset1">
            <ul class="unstyled">
                <li>
                <strong><a href="/hotels?loc=5&ean=true">Goa, India</a></strong>
                </li>
            </ul>
        </div>
    </div>
</header>



{% endblock %}

