{% extends "base.html" %}
{% block head_attributes %} prefix="og: http://ogp.me/ns#  hk_survey: http://ogp.me/ns/apps/hk_survey#" {% endblock %}
{% block meta_tags %}
  <meta property="fb:app_id" content="401695513260834" /> 
  <meta property="og:type"   content="hk_survey:survey" /> 
  <meta property="og:url"    content="http://hk.jumpingcrab.com:5000/social/survey?survey_id={{ survey_id }}" /> 
  <meta property="og:title"  content="Need help choosing a hotel in {{ region_name }}" /> 
  <meta property="og:description"  content="Help me choose a hotel in {{ region_name }}" /> 
  <meta property="og:image"  content="http://hk.jumpingcrab.com:5000/static/img/logo8.jpeg" /> 
  <meta property="hk_survey:survey_id" content="{{ survey_id }}" />
{% endblock %}
{% block content %}
<div class="row-fluid">
    <div class="box span12">
        <div class="box-header">
            <h2>
                <i class="halflings-icon user"></i>
                <span class="break"></span>
                Hunchkin Survey
            </h2>
        </div>
        <div class="box-content">
            <p>
            <strong>{{ created_by_name }}</strong> is planning to visit <strong>{{ region_name }}</strong> and is thinking of these hotels. Can you help {{ created_by_first_name }} with your inputs?
            </p>
            <form>
                    <table class = "table table-bordered">
                        <thead>
                        <tr>
                            <th>Hotel</th>
                            <th>Overall</th>
                            <th>Location</th>
                            <th>Facilities</th>
                            <th>Service</th>
                            <th>Cleanliness</th>
                            <th>Remarks</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for hotel in hotels %}
                        <tr>
                            <td>{{hotel[1]}}</td>
                            <td>
                                <p>
                                    <button class="btn btn-small">
                                        <i class="halflings-icon white thumbs-up"></i>
                                    </button>
                                    <button class="btn btn-small">
                                        <i class="halflings-icon white thumbs-down"></i>
                                    </button>
                                </p>
                            </td>
                            <td>
                                <p>
                                    <button class="btn btn-small">
                                        <i class="halflings-icon white thumbs-up"></i>
                                    </button>
                                    <button class="btn btn-small">
                                        <i class="halflings-icon white thumbs-down"></i>
                                    </button>
                                </p>
                            </td>
                            <td>
                                <p>
                                    <button class="btn btn-small">
                                        <i class="halflings-icon white thumbs-up"></i>
                                    </button>
                                    <button class="btn btn-small">
                                        <i class="halflings-icon white thumbs-down"></i>
                                    </button>
                                </p>
                            </td>
                            <td>
                                <p>
                                    <button class="btn btn-small">
                                        <i class="halflings-icon white thumbs-up"></i>
                                    </button>
                                    <button class="btn btn-small">
                                        <i class="halflings-icon white thumbs-down"></i>
                                    </button>
                                </p>
                            </td>
                            <td>
                                <p>
                                    <button class="btn btn-small">
                                        <i class="halflings-icon white thumbs-up"></i>
                                    </button>
                                    <button class="btn btn-small">
                                        <i class="halflings-icon white thumbs-down"></i>
                                    </button>
                                </p>
                            </td>
                            <td>
                                <textarea class="cleditor" rows="3"></textarea>
                            </td>
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                <input type="button" value="Save"/>
            </form>

        </div>
    </div>
</div>
{% endblock %}
