{% extends "base.html" %}
{% block head_attributes %} prefix="og: http://ogp.me/ns#  hk_survey: http://ogp.me/ns/apps/hk_survey#" {% endblock %}
{% block meta_tags %}
  <meta property="fb:app_id" content="401695513260834" /> 
  <meta property="og:type"   content="hk_survey:survey" /> 
  <meta property="og:url"    content="http://hk.jumpingcrab.com:5000/social/survey?survey_id={{ survey_id }}" /> 
  <meta property="og:title"  content="Hotels in {{ region_name }}" /> 
  <meta property="og:description"  content="Help me choose a hotel in {{ region_name }}" /> 
  <meta property="og:image"  content="http://hk.jumpingcrab.com:5000/static/img/logo8.jpeg" /> 
  <meta property="hk_survey:survey_id" content="{{ survey_id }}" />
{% endblock %}
{% block content %}
  <p> 
  </p>
  <h3>Hunchkin Survey</h3>
  <p>
  <strong>{{ created_by_name }}</strong> is planning to visit <strong>{{ region_name }}</strong> and is thinking of these hotels. Can you help {{ created_by_first_name }} with your inputs?
  </p>
  <form>
    <div class="container-fluid">
      <div class="row-fluid">
        <div class="span12">
          <table class = "table table-striped">
            <thead>
              <tr>
                <th>Hotel</th>
                <th>Overall</th>
                <th>Location</th>
                <th>Facilities</th>
                <th>Service</th>
                <th>Cleanliness</th>
                <th>Remarks</th>
              </tr>
            </thead>
            <tbody>
              {% for hotel in hotels %}
              <tr>
                <td>{{hotel[1]}}</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <input type="button" value="Save"/>
  </form>

{% endblock %}
