{% extends "base.html" %}
{% block page_class %}home-page{% endblock %}
{% block content %}
<header class="jumbotron subhead">
<h2>Similar Hotels for <a href="/genome?h_id={{ comp_hotel }}">{{ comp_hotel_name}}:</a></h2>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Category</th>
                <th>Sub-Category</th>
                {% for hotel in hotels %}
                <th>
                    <a href="/genome?h_id={{ hotel.h_id }}">{{ hotel.name }} ({{ hotel.score }})</a>
                </th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for a in axes %}
            <tr>
                <td>{{ a.category }}</td>
                <td>{{ a.sub_category }}</td>
                {% for hotel in hotels %}
                {% if sim[hotel.h_id][a.sub_category] > 0 %}
                    <td>{{ sim[hotel.h_id][a.sub_category] }}</td>
                {% else %}
                    <td></td>
                {% endif %}
                {% endfor %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
</header>



{% endblock %}

