{% extends "base.html" %}
{% block page_class %}home-page{% endblock %}
{% block content %}
<header class="jumbotron subhead">
    <h2>Hotels:</h2>
    <div class="row">
        <div class="span6 offset1">
            <ul class="unstyled">
            {% for hotel in hotels %}
            {% if loccat == "true" %}
                <li><a href="/loccat?h_id={{ hotel.h_id }}">{{ hotel.name }}</a>
            {% else %}
                {% if sim == "true" %}
                    <li><a href="/similar?h_id={{ hotel.h_id }}">{{ hotel.name }}</a>
                {% else %}
                    {% if ean == "true" %}
                        <li><a href="/ean_data?h_id={{ hotel.h_id }}">{{ hotel.name }}</a>
                    {% else %}
                        <li><a href="/genome?h_id={{ hotel.h_id }}">{{ hotel.name }}</a>
                    {% endif %}
                {% endif %}
            {% endif %}
            {% endfor %}
            </ul>
        </div>
    </div>
</header>



{% endblock %}

