{% extends "base.html" %}
{% block page_class %}home-page{% endblock %}
{% block content %}
<header class="jumbotron subhead">
    <h2>Genome</h2>
    <div class="row">
        <div class="span6 offset1">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Category</th>
                    </tr>
                </thead>
                <tbody>
                {% for lc in loccat %}
                    <tr>
                        <td>{{ lc.category }}</td>
                        <td>{{ lc.count }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</header>



{% endblock %}

