{% extends "base.html" %}
{% block page_class %}home-page{% endblock %}
{% block content %}
<header class="jumbotron subhead">
    <h2>Google Data</h2>
    <div class="row">
        <div class="span6 offset1">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Category</th>
                    </tr>
                </thead>
                <tbody>
                {% for lc in loccat %}
                    <tr>
                        <td>{{ lc.category }}</td>
                        <td>{{ lc.count }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <h2>Nokia Data</h2>
    <div class="row">
        <div class="span6 offset1">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Category</th>
                        <th>Distance(metres)</th>
                    </tr>
                </thead>
                <tbody>
                    {% for lc in loccat_nokia %}
                    <tr>
                        <td>{{ lc.name }}</td>
                        <td>{{ lc.category }}</td>
                        <td>{{ lc.distance }}</td>
                    <tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</header>



{% endblock %}

