{% extends "base.html" %}
{% block page_class %}home-page{% endblock %}
{% block content %}
<header class="jumbotron subhead">
    <div class="row">
        <div class="span6">
            <form id="search_form" method="get" action="/search_results">
                <legend>Find the perfect hotel you have in mind</legend>
                <div id="dest_control" class="ui-widget control-group">
                    <label class="control-label" for="destination"><strong>Destination</strong></label>
                    <input class = "input-xxlarge" id="destination" type="text" placeholder="City, Airport Code or area...">
                    <span id="dest_err" class="help-block"> </span>
                </div>
                <div id="hotel_control" class="ui-widget control-group">
                    <label class="control-label" for="hotel_name"><strong>Name a hotel that you liked in the past</strong></label>
                    <input class = "input-xxlarge" id="hotel_name" type="text" placeholder="Type the name and city...">
                    <span id="hotel_err" class="help-block"> </span>
                </div>
                <div>
                    <label class="checkbox inline">
                        <input id="cb_kids" type="checkbox">Kids in your party?
                    </label>
                    <label class="checkbox inline">
                        <input id="cb_disabled" type="checkbox">Disabled / Senior access?
                    </label>
                    <label class="checkbox inline">
                        <input id="cb_pets" type="checkbox">Pets?
                    </label>
                </div>
                <div><p> </p></div>
                <input type="hidden" id="dest_id" name="dest_id">
                <input type="hidden" id="hotel_id" name="hotel_id">
                <div>
                    <button id="search" type"submit" class="btn btn-primary"><i class="icon-search"></i> Search</button>
                </div>
            </form>
            <!--
            <div>
                <form name="test_form" method="get" action="/test_form">
                    <label>test</label>
                    <input type="text" name="test">
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>
            -->
        </div>
    </div>
</header>
{% endblock %}

{% block javascript %}
<script>
var _dest_ids = [];
var _dest_names = [];
var _hotel_ids = [];
var _hotel_names = [];
var d_index = -1;
var h_index = -1;
$(function() {
        $( "#destination" ).autocomplete({
            source: function( request, response ) {
                $.ajax({
                    url: "/dest_search",
                    dataType: "json",
                    data: {
                        region_startsWith: request.term
                    },
                    success: function( data ) {
                        _dest_ids = [];
                        _dest_names = [];
                        $.each(data.docs, function(doc, doc_data) {
                            _dest_ids.push(doc_data.id);
                            _dest_names.push(doc_data.name);
                        });
                        response( _dest_names )
                    }
                });
            },
            minLength: 2
        });
        $( "#hotel_name" ).autocomplete({
            source: function( request, response ) {
                $.ajax({
                    url: "/prop_search",
                    dataType: "json",
                    data: {
                        prop_startsWith: request.term
                    },
                    success: function( data ) {
                        _hotel_ids = [];
                        _hotel_names = [];
                        $.each(data.docs, function(doc, doc_data) {
                            _hotel_ids.push(doc_data.id);
                            _hotel_names.push(doc_data.name);
                        });
                        response( _hotel_names )
                    }
                });
            },
            minLength: 2
        });
        $( "#search_form" ).submit(function() {
            if (_dest_names.length == 0 && $("#destination").val() != ""){
                $.ajax({
                        url: "/dest_search",
                        dataType: "json",
                        async: false,
                        data: {
                            region_startsWith: $("#destination").val()
                        },
                        success: function( data ) {
                            _dest_ids = [];
                            _dest_names = [];
                            $.each(data.docs, function(doc, doc_data) {
                                _dest_ids.push(doc_data.id);
                                _dest_names.push(doc_data.name);
                            });
                        }
                    });
            };
            if (_hotel_names.length == 0 && $("#hotel_name").val() != ""){
                $.ajax({
                        url: "/prop_search",
                        dataType: "json",
                        async: false,
                        data: {
                            prop_startsWith: $("#hotel_name").val()
                        },
                        success: function( data ) {
                            _hotel_ids = [];
                            _hotel_names = [];
                            $.each(data.docs, function(doc, doc_data) {
                                _hotel_ids.push(doc_data.id);
                                _hotel_names.push(doc_data.name);
                            });
                        }
                    });
            }
            d_index = $.inArray($("#destination").val(), _dest_names);
            if (d_index == -1) {
                $("#dest_control").addClass("error");
                $("#dest_err").text("Invalid Region Name - pick from list").show();
                return false;
            }
            $("#dest_control").removeClass("error");
            $("#dest_err").text(" ").show();
            h_index = $.inArray($("#hotel_name").val(), _hotel_names);
            if (h_index == -1) {
                $("#hotel_control").addClass("error");
                $("#hotel_err").text("Invalid Hotel Name - pick from list").show();
                return false;
            }
            $("#hotel_control").removeClass("error");
            $("#hotel_err").text(" ").show();
            $("#dest_id").attr("value", _dest_ids[d_index]);
            $("#hotel_id").attr("value", _hotel_ids[h_index]);
            return true;
        });
    });
</script>
{% endblock %}
