{% extends "base.html" %}
{% block page_class %}home-page{% endblock %}
{% block content %}
<header class="jumbotron subhead">
    <h2>Similar Hotels:</h2>
    <div class="row">
        <div class="span6 offset1">
            <ul class="unstyled">
            {% for hotel in hotels %}
            <li><a href="/radar?hotel_a={{ comp_hotel }}&hotel_b={{ hotel.h_id }}">{{ hotel.name }} ({{ hotel.score }})</a>
            {% endfor %}
            </ul>
        </div>
    </div>
</header>



{% endblock %}

